python3
python3-pip
debhelper
gettext
libnetpbm10-dev
libxml-libxml-perl
dblatex
xsltproc
docbook-xml
docbook-xsl
librsvg2-bin
netpbm
texlive-pictures
pkg-config
libopencv-dev
libpoppler-glib-dev
libcairo2-dev
libpango1.0-dev
texlive-latex-recommended
texlive-xetex
lmodern
texlive-lang-french
texlive-lang-japanese
texlive-lang-chinese
